/* Tooling */

@import "lib/custom-properties";

/* Global Navigation: Apps
/* ========================================================================== */

.esri-gnav-apps {
	@apply --item--top;

	position: relative;
}

.esri-gnav-apps-link {
	@apply --button;
}

.esri-gnav-apps-icon {
	@apply --icon;
}

/* Global Navigation: Apps: Menu
/* ========================================================================== */

.esri-gnav-apps-menu {
	@apply --menu--sub;

	min-size: 410px calc(130px + 48px + 48px);
	padding: 48px 28px 0 42px;
	right: 0;
}
