/* Global Navigation
/* ========================================================================== */

.esri-gnav {
	box-shadow: 0 1px 0 0 #dedede;
	color: #595959 #ffffff;
	cursor: default;
	display: flex;
	font: 300 16px/1 "Avenir Next LT Pro", "Century Gothic", sans-serif;
	justify-content: space-between;
	size: * 64px;
	user-select: none;

	/* selectively sanitize sub-elements */

	&,
	& * {
		box-sizing: border-box;
	}

	& button {
		background-color: transparent;
		border: none;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
	}

	& svg {
		display: block;
		fill: currentColor;
	}
}

/* Global Navigation: Variations
/* ========================================================================== */

.esri-gnav--absolute {
	position: absolute 0 0 *;
}

.esri-gnav--fixed {
	position: fixed 0 0 *;
}

/* Global Navigation: General types
/* ========================================================================== */

.esri-gnav-link {
	color: #4c4c4c;
	cursor: pointer;
	outline-offset: -.375em;

	&:matches(:hover, :focus) {
		color: #0079c1;
	}
}

.esri-gnav-icon {
	margin: 20px 28px;
	size: 24px;
}
