/* Global Navigation
/* ========================================================================== */

.esri-gnav {
	box-shadow: 0 1px 0 0 #dedede;
	color: #595959 #ffffff;
	cursor: default;
	display: flex;
	font: 300 16px/calc(20 / 16) "Avenir Next LT Pro", "Century Gothic", sans-serif;
	justify-content: space-between;
	size: * 64px;
	user-select: none;

	/* selectively sanitize sub-elements */

	&,
	& * {
		box-sizing: border-box;
	}
}

/* Global Navigation: Variations
/* ========================================================================== */

.esri-gnav--absolute {
	position: absolute 0 0 *;
}

.esri-gnav--fixed {
	position: fixed 0 0 *;
}

/* Global Navigation: General types
/* ========================================================================== */

.esri-gnav-menu--sub {
	background-color: #f8f8f8;
	box-shadow: inset 0 0 0 1px #dedede;
	position: absolute 100% * *;
	transition: opacity 250ms ease-in-out;

	&:not([aria-expanded="true"]) {
		clip: rect(0 0 0 0);
		opacity: 0;
		visibility: hidden;
	}
}

.esri-gnav-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.esri-gnav-button {
	background-color: transparent;
	border-style: none;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	padding: 0;
}

.esri-gnav-item {
	position: relative;
}

.esri-gnav-link {
	color: #4c4c4c;
	cursor: pointer;
	display: block;
	outline-offset: -.375em;
	text-decoration: none;

	&:matches(:hover, :focus) {
		color: #0079c1;
	}
}

.esri-gnav-icon {
	display: block;
	fill: currentColor;
	margin: 20px 28px;
	size: 24px;
}
