/* Global Navigation: Brand
/* ========================================================================== */

.esri-gnav-brand {
	align-items: center;
	display: flex;
	padding: * 24px;

	&:matches(:hover, :focus) {
		color: #0079c1;
	}
}

.esri-gnav-brand-svg {
	display: block;
	size: 60px 30px;
}
