/* Tooling */

@import "lib/custom-properties";

/* Global Navigation: Brand
/* ========================================================================== */

.esri-gnav-brand {
	@apply --link;

	align-items: center;
	display: flex;
	padding: * 24px;
}

.esri-gnav-brand-image {
	@apply --svg;

	display: block;
	size: 60px 30px;
}
