/* Global Navigation
/* ========================================================================== */

.esri-gnav {
	box-shadow: 0 1px 0 0 #dedede;
	color: #4c4c4c #ffffff;
	cursor: default;
	display: flex;
	font: 300 16px/1 "Avenir Next LT Pro", "Century Gothic", sans-serif;
	justify-content: space-between;
	size: * 64px;

	/* selectively sanitize sub-elements */

	&,
	& * {
		box-sizing: border-box;
	}

	& button {
		background-color: transparent;
		border: none;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		outline-offset: -.375em;
	}

	& svg {
		fill: currentColor;
	}
}

/* Global Navigation: Variations
/* ========================================================================== */

.esri-gnav--absolute {
	position: absolute 0 0 *;
}

.esri-gnav--fixed {
	position: fixed 0 0 *;
}
