/* Global Navigation: Menus
/* ========================================================================== */

.esri-gnav-menus {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

.esri-gnav-menus-item {
	color: #4c4c4c;
}

.esri-gnav-menus-link {
	transition: box-shadow 125ms ease-in-out, color 125ms ease-in-out;

	&[aria-expanded="true"] {
		box-shadow: inset 0 -4px 0 0 #0079c1;
	}
}

/* Global Navigation: Top Menus
/* ========================================================================== */

.esri-gnav-menus-list--top {
	display: flex;
}

.esri-gnav-menus-link--top {
	padding: 22px 24px;
}

/* Global Navigation: Sub Menus
/* ========================================================================== */

.esri-gnav-menus-menu--sub {
	left: -80px;
	min-size: 440px *;
	padding: 24px 46px 46px;
}

.esri-gnav-menus-link--sub {
	box-shadow: inset 0 -1px 0 0 #e0e0e0;
	font-size: 14px/calc(20 / 14);
	outline-offset: 0;
	padding: 20px 0;

	&:focus,
	&:hover {
		box-shadow: inset 0 -1px 0 0 #0079c1;
	}
}
