/* Tooling */

@import "lib/custom-properties";

/* Global Navigation: User: Logged Out
/* ========================================================================== */

.esri-gnav-user-link--loggedout {
	@apply --button;

	padding: 22px 24px;
}

/* Global Navigation: User: Logged In
/* ========================================================================== */

.esri-gnav-user-link--loggedin {
	@apply --button;

	padding: 16px 32px;
	padding-left: calc(32px + 16px + 12px);
	position: relative;
	text-align: start;
}

.esri-gnav-user {
	@apply --item--top;
}

.esri-gnav-user-image {
	border-radius: 50%;
	position: absolute calc(50% - 32px / 2) * * 16px;
	size: 32px;
}

.esri-gnav-user-name,
.esri-gnav-user-id {
	display: block;
	user-select: text;
}

.esri-gnav-user-name {
	font-size: 15px/16px;
	font-weight: 700;
}

.esri-gnav-user-id {
	font-size: 14px/16px;
}

/* Global Navigation: User: Logged In: Menu
/* ========================================================================== */

.esri-gnav-user-menu {
	@apply --menu--sub;

	min-size: 410px calc(130px + 48px + 48px);
	padding: 48px 28px 0 42px;
	right: 0;
}

.esri-gnav-user-menu-image {
	border-radius: 50%;
	box-shadow: 0 0 0 4px #007ac2;
	position: absolute 48px * *;
	size: calc(130px - 4px * 2);
}
