@mixin flexDisplay() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($flex) {
    -webkit-flex: $flex;
    -ms-flex: $flex;
    flex: $flex;
}

@mixin flexFlow($direction, $wrap:nowrap) {
    -webkit-flex-flow: $direction $wrap;
    -ms-flex-flow: $direction $wrap;
    flex-flow: $direction $wrap;
}

@mixin alignItems($side) {
    -webkit-align-items: $side;
    align-items: $side;
}

@mixin justifyContent($side) {
    -webkit-justify-content: $side;
    justify-content: $side;
}

@mixin alignContent($side) {
    -webkit-align-content: $side;
    align-content: $side;
}

@mixin alignSelf($side) {
    -webkit-align-self: $side;
    align-self: $side;
}

@mixin topNavHover() {
    cursor: pointer;
    color: $Calcite_Highlight_Blue_350;
    // border-bottom: 3px solid $Calcite_Highlight_Blue_350;
    -webkit-background-image: linear-gradient(to bottom, transparent 95%, $Calcite_Highlight_Blue_350 96%, $Calcite_Highlight_Blue_350 100%);
    -moz-background-image: linear-gradient(to bottom, transparent 95%, $Calcite_Highlight_Blue_350 96%, $Calcite_Highlight_Blue_350 100%);
    -o-background-image: linear-gradient(to bottom, transparent 95%, $Calcite_Highlight_Blue_350 96%, $Calcite_Highlight_Blue_350 100%);
    background-image: linear-gradient(to bottom, transparent 95%, $Calcite_Highlight_Blue_350 96%, $Calcite_Highlight_Blue_350 100%);
}

@mixin transition($prop, $time, $ease, $delay:0ms) {
    -webkit-transition: $prop $time $ease $delay;
    -moz-transition: $prop $time $ease $delay;
    -ms-transition: $prop $time $ease $delay;
    -o-transition: $prop $time $ease $delay;
    transition: $prop $time $ease $delay;
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin gradientBackground($color) {
    background: rgba($color, 1);
    background: -moz-linear-gradient(left, rgba($color, 1) 0%, lighten($color, 20%) 50%, rgba($color, 1) 60%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba($color, 1)), color-stop(50%, lighten($color, 20%)), color-stop(60%, rgba($color, 1)));
    background: -webkit-linear-gradient(left, rgba($color, 1) 0%, lighten($color, 20%) 50%, rgba($color, 1) 60%);
    background: -o-linear-gradient(left, rgba($color, 1) 0%, lighten($color, 20%) 50%, rgba($color, 1) 60%);
    background: -ms-linear-gradient(left, rgba($color, 1) 0%, lighten($color, 20%) 50%, rgba($color, 1) 60%);
    background: linear-gradient(to right, rgba($color, 1) 0%, lighten($color, 20%) 50%, rgba($color, 1) 60%);
    // filter: #{progid: DXImageTransform.Microsoft.gradient( startColorstr='#fbb400', endColorstr='#fbb400', GradientType=1)};
}
