
$global_width: 100%;
$Calcite_Gray_050: #fff;
$border_color: $Calcite_Gray_300;
$background_color: $Calcite_Gray_050;
$app_header_width: $global_width;
$secondary_header_width: $global_width;
$size: 64px;
$border_size: 3px;