////////////////////////
// Calcite Web
$generate-css: false;

$font-path: '../node_modules/calcite-web/dist/fonts';

$include-colors: true;
$include-reset: true;

// Grid
// For Prototype
$include-grid: true;
$fold-grid: true;
$block-grid: true;

// Type
$include-type: true;
$include-primary-family: true;
$include-code-family: true;
$include-i18n: true;
$include-type-defaults: true;
$include-type-helpers: true;

// Icons
$include-icons: true;
$include-calcite-icons: true;
// $include-social-icons: true;
$include-icon-font: true;

// UI
$include-button: true;
$include-breadcrumbs: true;
$include-card: true;

@import "../node_modules/calcite-web/dist/sass/calcite-web.scss";
////////////////////////

@import "vars";
@import "mixins";
@import "animations";
@import "GlobalNav";