/* Tooling */

@import "lib/custom-properties";

/* Global Navigation: Brand
/* ========================================================================== */

.esri-gnav-brand {
	@apply --link;

	align-items: center;
	color: var(--mono-20);
	display: flex;
	fill: currentColor;

	@media (--gnav-s) {
		margin: * auto;
		padding: * 12px;
	}

	@media (--gnav-m) {
		margin-right: auto;
		padding: * 12px;
	}

	@media (--gnav-l) {
		padding: * 24px;
	}

	&:matches(:hover, :focus) {
		color: var(--mono-0);
	}
}

.esri-gnav-brand-image {
	@apply --fillable;

	height: 30px;
}
