/* Tooling */

@import "lib/custom-properties";

/* Global Navigation: Brand
/* ========================================================================== */

.esri-gnav-brand {
	@apply --link;

	align-items: center;
	color: var(--mono-0);
	display: flex;
	padding: * 24px;

  &:matches(:hover, :focus) {
    box-shadow: none;
  }
}

.esri-gnav-brand-image {
	@apply --fillable;

	size: auto 30px;
}
