/* Tooling */

@import "lib/custom-properties";

/* Global Navigation: Brand
/* ========================================================================== */

.esri-gnav-brand {
	@apply --link;

	align-items: center;
	color: var(--mono-0);
	display: flex;

	@media (--gnav-sm) {
		margin-right: auto;
		padding: * 12px;
	}

	@media (--gnav-l) {
		padding: * 24px;
	}
}

.esri-gnav-brand-image {
	@apply --fillable;

	height: 30px;
}
