/* Global Navigation: Client
/* ========================================================================== */

.esri-gnav-client {
	display: flex;
	flex-grow: 0;

	& > :first-child {
		box-shadow: -1px 0 0 0 var(--mono-88);
	}
}
