/* Tooling */

@import "lib/custom-properties";

/* Global Navigation: Menus
/* ========================================================================== */

.esri-gnav-menus {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

.esri-gnav-menus-list {
	@apply --list;

	display: flex;
}

.esri-gnav-menus-item {
	@apply --submenu-parent;
}

.esri-gnav-menus-link {
	@apply --link;
	@apply --submenu-link;

	padding: 22px 24px;
}

/* Global Navigation: Menus: Submenu
/* ========================================================================== */

.esri-gnav-menus-submenu {
	@apply --submenu;

	left: -80px;
	max-height: calc(100vh - 64px);
	min-width: 350px;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	padding: 25px 45px 45px;

	&[more-than-eight="true"] {
		min-width: calc(350px * 2 + 20px);
	}
}

.esri-gnav-menus-sublist {
	@apply --list;
}

.esri-gnav-menus-subitem {
	@nest :nth-last-child(n+8) ~ &:nth-child(7) {
		margin-top: calc(-60px * 6);
	}

	@nest :nth-last-child(n+8) ~ &:nth-child(n+7) {
		margin-left: calc(350px + 20px);
	}
}

.esri-gnav-menus-sublink {
	@apply --link;

	box-shadow: inset 0 -1px 0 0 var(--mono-88);
	font-size: 14px/20px;
	outline-offset: 0;
	padding: 20px 0;
	width: 350px;

	&:matches(:focus, :hover) {
		box-shadow: inset 0 -1px 0 0 var(--blue);
		color: var(--mono-0);
	}
}

.esri-gnav-menus-sublist--tiles {
	@apply --list;

	display: flex;
	margin: 30px * *;
	max-width: 350px;
	flex-wrap: wrap;

	@nest [more-than-eight="true"] & {
		max-width: calc(20px + 350px * 2);
	}
}

.esri-gnav-menus-subitem--tiles {
	width: 175px;

	@nest [more-than-eight="true"] & {
		width: 240px;
	}
}

.esri-gnav-menus-sublink--tiles {
	@apply --link;

	background-color: var(--mono-100);
	box-shadow: inset 0 0 0 1px var(--mono-81);
	margin-bottom: -1px;
	margin-left: -0.5px;
	margin-right: -0.5px;
	padding: 10px 10px 24px;
	position: relative;

	&:hover {
		box-shadow: inset 0 0 0 1px var(--blue);
		color: var(--blue);
		z-index: 1;
	}
}

.esri-gnav-menus-sublink-image {
	display: block;
	fill: currentColor;
	margin: 20px auto;
	size: 48px;
}

.esri-gnav-menus-sublink-text {
	display: block;
	font-size: 12px/15px;
	margin: 16px * *;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
}
