/* Tooling */

@import "lib/custom-properties";

/* Global Navigation: User
/* ========================================================================== */

.esri-gnav-user {
	@media (--gnav-s) {
		background-color: var(--mono-100);
		box-shadow: inset 0 1px 0 0 var(--mono-88);
		margin-top: auto;
	}

	@media (--gnav-ml) {
		@apply --submenu-parent;
	}
}

/* Global Navigation: User: Logged Out
/* ========================================================================== */

.esri-gnav-user-link--loggedout {
	@apply --button;

	padding: 22px 24px;
}

/* Global Navigation: User: Logged In
/* ========================================================================== */

.esri-gnav-user-link--loggedin {
	@apply --button;

	padding: 14px 32px;
	padding-left: calc(32px + 16px + 12px);
	position: relative;
	text-align: start;

	@media (--gnav-s) {
		width: 100%;

		&::after {
			content: url(./lib/symbols.svg#right-chevron);
			fill: #595959;
			position: absolute calc(50% - 12px / 2) 20px * *;
			size: 12px;
			transition: opacity 250ms, right 250ms, transform 250ms ease-in-out;
		}

		&:matches(:focus, :hover, [aria-expanded="true"]) {
			color: var(--mono-0);

			&::after {
				right: 15px;
			}
		}
	}

	@media (--gnav-ml) {
		@apply --menu-link;
	}

	@media (--gnav-m) {
		padding: 10px *;
	}
}

.esri-gnav-user-image {
	border-radius: 50%;
	position: absolute calc(50% - 32px / 2) * * 16px;
	size: 32px;
}

.esri-gnav-user-name,
.esri-gnav-user-id {
	display: block;
	user-select: text;
}

.esri-gnav-user-name {
	font-size: 15px/20px;
	font-weight: 600;

	@nest .esri-gnav-user-link--loggedin:not(:hover, :focus, [aria-expanded="true"]) & {
		color: var(--mono-35);
	}
}

.esri-gnav-user-id {
	font-size: 14px/16px;
}

/* Global Navigation: User: Logged In: Menu
/* ========================================================================== */

.esri-gnav-user-menu {
	background-color: var(--mono-97);

	@media (--gnav-s) {
		box-shadow: inset 0 1px 0 0 var(--mono-88), 0 0 20px 0 color(var(--mono-0) a(30%));
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		min-height: var(--gnav-vh);
		position: absolute 0 * * 0;
		transition: transform 300ms ease-in-out;
		width: calc(100vw - 50px);
		z-index: 1;
	}

	@media (--gnav-ml) {
		@apply --submenu;

		display: flex;
		flex-wrap: wrap;
		min-size: 410px calc(130px + 48px + 48px);
		padding-top: 48px;
		right: 0;
	}

	&[aria-hidden="true"] {
		@media (--gnav-s) {
			overflow: hidden;
			transform: translateX(100vw);
			transition: transform 300ms ease-in-out, visibility 0s 300ms;
			visibility: hidden;
		}
	}
}

.esri-gnav-user-menu-toggle {
	@apply --button;

	background-color: var(--mono-100);
	box-shadow: inset 0 -1px 0 var(--mono-88);
	font-size: 20px/24px;
	padding: 20px 10px;
	position: relative;
	text-align: center;
	width: 100%;

	&:matches(:hover, :focus) {
		color: var(--mono-0);

		&::before {
			left: 15px;
		}
	}

	&::before {
		content: url(./lib/symbols.svg#left-chevron); /* stylelint-disable-line */
		position: absolute calc(50% - 16px / 2) * * 24px;
		size: 16px;
		transition: left 300ms ease-in-out;
	}

	@media (--gnav-ml) {
		display: none;
	}
}

.esri-gnav-user-menu-info {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	text-align: center;

	@media (--gnav-s) {
		margin-top: 20px;
	}

	@media (--gnav-ml) {
		width: 50%;
	}
}

.esri-gnav-user-menu-image {
	border-radius: 50%;
	box-shadow: 0 0 0 2px var(--mono-100), 0 0 0 6px var(--blue);
	margin: * auto 20px;
	size: calc(130px - 4px * 2);

	@media (--gnav-s) {
		margin: 4px auto *;
	}
}

.esri-gnav-user-menu-name {
	color: var(--mono-0);
	font-size: 18px/25px;
	font-weight: 500;
	margin-bottom: 10px;
}

.esri-gnav-user-menu-id {
	font-size: 13px/calc(15 / 13);
	margin-bottom: 5px;
}

.esri-gnav-user-menu-group {
	font-size: 13px/calc(15 / 13);
}

.esri-gnav-user-menu-list {
	@apply --list;

	@media (--gnav-s) {
		text-align: center;
	}

	@media (--gnav-ml) {
		padding-left: 10px;
		width: 50%;
	}
}

.esri-gnav-user-menu-link {
	@apply --link;

	color: var(--blue);
	display: inline-block;
	font-size: 16px/20px;
	outline-offset: 0;
	padding: 5px 0;
	position: relative;

	&:matches(:hover, :focus) {
		color: var(--blue-dark);
	}

	&::after {
		content: url(./lib/symbols.svg#c-arrow-right);
		fill: var(--blue);
		opacity: 0;
		position: absolute calc(50% - 20px / 2) -8px * *;
		size: 12px;
		transition: opacity 250ms, transform 250ms;
	}

	&:matches(:hover, :focus) {
		&::after {
			opacity: 1;
			transform: translateX(10px);
		}
	}
}

.esri-gnav-user-login-menu {
	@apply --list;

	width: 100%;

	@media (--gnav-s) {
		margin: auto * 30px;
	}

	@media (--gnav-ml) {
		display: flex;
	}
}

.esri-gnav-user-login-item {
	@media (--gnav-s) {
		margin: 10px *;
	}

	@media (--gnav-ml) {
		width: 50%;
	}
}

.esri-gnav-user-login-control {
	@apply --button;

	box-shadow: inset 0 0 0 1px var(--blue);
	font-size: 17px/20px;
	padding: 15px;
	transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;

	@media (--gnav-s) {
		margin: * auto;
		width: 200px;
	}

	@media (--gnav-ml) {
		width: 100%;
	}

	&:matches(:hover, :focus) {
		color: var(--mono-0);
	}

	&.-switch {
		color: var(--mono-100) var(--blue);

		&:matches(:hover, :focus) {
			background-color: var(--blue-dark);
		}
	}

	&.-logout {
		color: var(--blue);

		&:matches(:hover, :focus) {
			box-shadow: inset 0 0 0 3px var(--blue);
		}
	}
}
