{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules":{
    "prefer-const" : 2,
    "no-const-assign" : 2,
    "no-var" : 2,
    "no-new-object" : 2,
    "object-shorthand" : 2,
    "quote-props" : 0,
    "no-array-constructor" : 2,
    "quotes": 0,
    "prefer-template": 2,
    "template-curly-spacing": 2,
    "no-useless-escape": 2,
    "wrap-iife": 2,
    "prefer-rest-params": 0,
    "no-new-func": 2,
    "no-param-reassign": 2,
    "prefer-spread": 2,
    "prefer-arrow-callback": 2,
    "arrow-spacing": 2,
    "arrow-parens": 2,
    "arrow-body-style": 2,
    "no-confusing-arrow": 2,
    "no-useless-constructor": 2,
    "no-dupe-class-members": 2,
    "no-iterator": 2,
    "no-restricted-syntax": 2,
    "dot-notation": 2,
    "no-undef": 2,
    "one-var": [2, "never"],
    "no-plusplus": 0,
    "eqeqeq": 2,
    "no-nested-ternary": 2,
    "no-unneeded-ternary": 2,
    "brace-style": 2,
    "spaced-comment": 2,
    "space-before-blocks": 2,
    "keyword-spacing": 2,
    "space-infix-ops": 2,
    "eol-last": 2,
    "newline-per-chained-call": 2,
    "no-whitespace-before-property": 2,
    "padded-blocks": [2, "never"],
    "space-in-parens": 2,
    "array-bracket-spacing": 2,
    "object-curly-spacing": 2,
    "comma-style": 2,
    "comma-dangle": 2,
    "semi": 2,
    "id-length": 0,
    "new-cap": 2,
    "no-underscore-dangle": 2
  },
  "globals": {
    "window": true,
    "document": true,
    "Element" : true,
    "esriGlobalNav": true,
    "require" : true,
    "process" : true,
    "console" : true,
    "event" : true,
    "onunload" : true,
    "clearTimeout" : true,
    "setTimeout":true,
    "getComputedStyle" : true,
    "matchMedia" : true,
    "XMLHttpRequest" : true,
    "Node" : true,
    "arguments": true,
    "Event": true
  }
}
