.*
!.eslintrc
!.editorconfig
!.gitignore
!.travis.yml
*.log*
node_modules
dist/*
!dist/esri-global-nav.js
!dist/esri-global-nav.css
!dist/img/
!dist/esri-global-nav.d.ts
package-lock.json
/package-lock.json
