/* Imports */

@import "dependent-css/apps";
@import "dependent-css/brand";
@import "dependent-css/client";
@import "dependent-css/menus";
@import "dependent-css/search";
@import "dependent-css/user";

/* Global Navigation
/* ========================================================================== */

.esri-gnav {
	box-shadow: 0 1px 0 0 var(--mono-88);
	color: var(--mono-35) var(--mono-100);
	cursor: default;
	display: flex;
	font: 300 17px/20px var(--font-stack);
	justify-content: space-between;
	position: relative;
	size: * 64px;
	user-select: none;
	z-index: 100;

	&, & * {
		box-sizing: border-box;
	}

	&.-web {
		@media (width > 1440px) {
			padding: * calc(50vw - 1440px / 2);
		}
	}
}

/* Global Navigation: Variations */

.esri-gnav--absolute {
	position: absolute 0 0 *;
}

.esri-gnav--fixed {
	position: fixed 0 0 *;
}
