/* Imports */

@import "css/apps";
@import "css/brand";
@import "css/client";
@import "css/menus";
@import "css/search";
@import "css/user";

/* Global Navigation
/* ========================================================================== */

.esri-gnav {
	box-shadow: 0 1px 0 0 #dedede;
	color: #595959 #ffffff;
	cursor: default;
	display: flex;
	font: 300 16px/calc(20 / 16) "Avenir Next LT Pro", "Century Gothic", sans-serif;
	justify-content: space-between;
	size: * 64px;
	user-select: none;

	&, & * {
		box-sizing: border-box;
	}
}

/* Global Navigation: Variations */

.esri-gnav--absolute {
	position: absolute 0 0 *;
}

.esri-gnav--fixed {
	position: fixed 0 0 *;
}
