.esri-header-apps p {
  line-height:17px;
}
.esri-header-apps a {
  text-decoration:none;
  color: #333333;
}
.esri-header-apps .half-opacity {
  opacity: .5;
}

.esri-header-apps .appSwitcher-title {
 font-size:20px;
}

.esri-header-apps .hidden-iframe {
  display: none;
}

.esri-header-apps .app-switcher-dropdown-menu {
  padding: 1rem;
  max-height: 580px;
  max-width: 600px;
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  border-color: #e0e0e0;
  margin-right: -64%; /* modified with JS if rightToLeft */
  right: 24px !important;
  top: 64px;
}

.esri-header-apps .dropdown-width-1 {
  width: 123px;
}
.esri-header-apps .dropdown-width-2 {
  width: 246px;
}
.esri-header-apps .dropdown-width-3 {
  width: 369px;
}
.esri-header-apps .dropdown-width-4 {
  width: 492px;
}

.esri-header-apps .app-switcher-svg {
  fill: #6e6e6e;
}

.esri-header-apps #appSwitcherBtn {
  max-height:20px;
  margin-top:9px;
}

.esri-header-apps .appLinkContainer{
  font-size: 12px; /* App names text size */
  margin-bottom: 0; /* Vertical space between app rows */
  margin-left: 0; /* space between each app icon */
  max-width: 92px; /* control long app labels */
  padding-top: 8px;
  padding-bottom: 8px;
}

.esri-header-apps .app-li-icon{
  display: inline;
}

/*/////////////////////*/
/*    FOCUS STYLE      */
.esri-header-apps .top-nav-link .app-switcher-svg:hover, .top-nav-link:focus .app-switcher-svg {
  fill: #007ac2;
}

.esri-header-apps .dropdown.is-active .dropdown-menu{
  pointer-events: auto;
  display: block;
  overflow: visible;
}

.esri-header-apps .appLink:focus .appIconImage {
  margin-bottom:7px;
  -webkit-transform: translate(0, -4px);
     -moz-transform: translate(0, -4px);
      -ms-transform: translate(0, -4px);
       -o-transform: translate(0, -4px);
          transform: translate(0, -4px);
}
.esri-header-apps .appLink:focus p{
  color: #0079c1;
}
/*/////////////////////*/

/*/////////////////////*/
/*    HOVER STYLE      */
.esri-header-apps .appLinkContainer .appIconImage {
  -webkit-transition: all 220ms ease-in-out;
     -moz-transition: all 220ms ease-in-out;
      -ms-transition: all 220ms ease-in-out;
       -o-transition: all 220ms ease-in-out;
          transition: all 220ms ease-in-out;
}

.esri-header-apps .appLink:hover .appIconImage {
  -webkit-transform: translate(0, -4px);
     -moz-transform: translate(0, -4px);
      -ms-transform: translate(0, -4px);
       -o-transform: translate(0, -4px);
          transform: translate(0, -4px);
}

.esri-header-apps .appLink:hover p{
  color: #0079c1;
}
/*//////////////////////*/

.esri-header-apps ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.esri-header-apps ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* app images & placeholder abbreviation images */
.esri-header-apps .appIconImage{
  height: 48px;
  width: 48px;
  margin: 0 auto;
  margin-bottom:8px;
  background-size: contain;
  color: white;
  background-repeat: no-repeat;
  font-size: 18px;
  text-align: center;
  display: block;
}

.esri-header-apps .appIconPng{
  height:48px;
  width:48px;
}

.esri-header-apps #dropdownAppContainer{
  overflow: auto;
  max-height: 556px;
  overflow-x: hidden;
  padding:0;
  margin: 0 auto;
  max-width:700px;
  min-width:140px;
}

.esri-header-apps .appIconSvgText{
  position: absolute;
  width: 48px;
  color: white;
  font-size: 17px;
  line-height: 48px;
  font-weight: 600;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 1);
  -webkit-transform:translate3d(0,0,0); /* prevent text flickering on safari */ 
}

/* Calcite Styles */
.esri-header-apps .block {
  font-family: "Avenir Next W01","Avenir Next W00","Avenir Next",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  display: inline-block;
  float: none;
  -webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: .5rem;
  padding-right: .5rem;
  letter-spacing: normal;
  text-align: left;
  vertical-align: top;
}
/* .esri-header-apps .block-group-5-up .block { */
/*   width: 20%; */
/* } */
.esri-header-apps .block-group {
  font-family: monospace;
  letter-spacing: -.65em;
  margin-left: -.5rem;
  margin-right: -.5rem;
  text-align: left;
  display: block;
}
/* Media Queries */
@media only screen and (max-width: 768px) {
  .esri-header-apps .dropdown-width-3, 
  .esri-header-apps .dropdown-width-4 {
    min-width: 314px !important;
  }
}
@media only screen and (max-width: 440px) {
  .esri-header-apps .dropdown-width-3, 
  .esri-header-apps .dropdown-width-4 {
    min-width: 230px !important;
  }
}
