@import "esri-global-shared";

/* Global Header Client
/* ========================================================================== */

.esri-header-lineBreak {
	display: flex;
	flex-grow: 0;

	@media (--width-ml) {
		border-left: 1px inset rgba(224, 224, 224, .41);

		@nest :dir(rtl) & {
			border-left: 0 inset rgba(224, 224, 224, .41);
		}
	}
}

.esri-header-client {
	display: flex;
	flex-grow: 0;

	@media (--width-s) {
		display: none;
	}
}
