@import "../global";

:host {
  position: relative;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0,94,149, 1);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0,94,149, 0);
  }
}

.esri-header-cart__items {
  @include badge();
}

.esri-header-cart__items--updated {
  animation: pulse 1s 1;
  height: 30px;
  font-size: 12px;
  left: 50%;
  line-height: 2.5;
  top: 50%;
  width: 30px;
}

.esri-header-cart__control {
  @include menu-link();
  position: relative;
}

.esri-header-cart__icon {
  @include menu-icon();
}
