/* Global Navigation: Branding section
/* ========================================================================== */

.esri-gnav-branding {
	align-items: center;
	color: #000000;
	display: flex;
	outline-offset: -.375em;
	padding: * 24px;
}

.esri-gnav-branding-svg {
	size: 60px 30px;
}
