/* Global Navigation: User section
/* ========================================================================== */

.esri-gnav-user {
	display: flex;
	flex-grow: 0;

	& > :first-child {
		box-shadow: -1px 0 0 0 #e0e0e0;
	}
}
