@import "esri-global-shared";

/* Global Header Client
/* ========================================================================== */

.esri-header-client {
	display: flex;
	flex-grow: 0;

	@media (--width-s) {
		display: none;
	}

	@media (--width-ml) {
		box-shadow: inset 1px 0 0 0 var(--mono-88);

		@nest :dir(rtl) & {
			box-shadow: inset -1px 0 0 0 var(--mono-88);
		}
	}
}
