@import "../global";

.esri-footer-brand {
  padding-bottom: 20px;
}

.esri-footer-brand-link {
  cursor: pointer;
  display: inline-block;
  color: $blk-140;
  transition: fill 150ms;
  vertical-align: top;
  transition: color $transition;
  &:focus, &:hover {
    color: $blk-240;
  }
}

.esri-footer-brand-image {
  display: block;
  fill: currentColor;
  width: 124px;
  height: 124px;
}
