@import "./node_modules/@esri/calcite-colors/colors.scss";
@import "./node_modules/@esri/calcite-base/dist/_index.scss";

/* Global SASS variables */
$esri-header-width: 1440px !default;
$esri-header-width-m: 320px !default;
$esri-header-height: 56px !default;
$esri-footer-social-size: 36px !default;
$esri-footer-social-gutter: 7px !default;

/* Unset Property Sets
/* ====================================================================== */
@mixin normalize-button () {
  -webkit-appearance: button;
  margin: 0;
  overflow: visible;
  text-transform: none;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

@mixin normalize-input-type-search () {
  -webkit-appearance: textfield;
  margin: 0;
  outline-offset: -2px;
  overflow: visible;
  box-shadow: none;

  &::-ms-clear {
    display: none;
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
};

@mixin unset-a () {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
};

@mixin unset-ul {
  margin: 0;
  padding: 0;
}

@mixin unset-l () {
  list-style-type: none;
  margin: 0;
  padding: 0;
};

@mixin unset-input-text () {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
};

@mixin unset-button () {
  background-color: transparent;
  border-width: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
};

/* Shared style mixins
/* ====================================================================== */
@mixin menu-link () {
  display: block;
  cursor: pointer;
  color: $blk-220;
  &:hover, &:focus {
    box-shadow: inset 0 -3px 0 0 $h-bb-030;
    color: $blk-240;
    fill: currentColor;
    outline: none;
  }

  &:active, &[aria-expanded="true"] {
    box-shadow: inset 0 -3px 0 0 $h-bb-060;
    color: $blk-240;
    fill: currentColor;
  }

  &.-is-active {
    box-shadow: inset 0 -3px 0 0 $h-bb-060;
  }
};

@mixin submenu() {
  box-shadow: inset 0 0 0 1px $blk-020;
  position: absolute;
  top: 100%;
  visibility: visible;
  clip: rect(0,100vw,100vh,0);
  transition: opacity $transition, clip 0ms linear 0ms;
  &:not([aria-expanded="true"]) {
    clip: rect(0,0,0,0);
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition, visibility 0ms linear 300ms, clip 0ms linear 300ms;
  }
};

@mixin menu-icon () {
  display: block;
  fill: currentColor;
  margin: 0;
  padding: 16px;
  width: 24px;
  height: 24px;
}

@mixin badge () {
  position: absolute;
  top: 35%;
  left: 75%;
  padding: 2px 4px;
  box-sizing: border-box;
  min-width: 14px;
  color: $blk-000;
  font-family: $avenir-family;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  background: $ui-blue;
  border-radius: 12px;
  box-shadow: 0 0 0 0 rgba(0,94,149, 1);
  transform: translate(-50%, -50%);
  transition: all .25s ease-out;
  z-index: 777;
}

@mixin footer-link-styles() {
  position: relative;

  &::after {
    // TODO: add this as an actual dom element
    // content: url("../shared.svg#c-arrow-right" param(--fill var(--blue)));
    inset-block-start: calc(50% - 8px);
    line-height: 10px;
    margin-inline-start: -.25em;
    opacity: 0;
    position: absolute;
    size: 16px;
    transition: margin-left 300ms, margin-right 300ms, opacity 300ms;

    &:dir(rtl) {
      transform: scale(-1);
      left: -13px;
    }
  }

  &:hover, &:focus {
    &::after {
      margin-inline-start: .25em;
      opacity: 1;
    }
  }
};

/* Breakpoints
/* ========================================================================== */
@mixin width-xl {
  @media screen and (min-width: 1440px){ @content; }
}
@mixin width-l {
  @media screen and (min-width: 1024px){ @content; }
}
@mixin width-ml {
  @media screen and (min-width: 768px){ @content; }
}
@mixin width-m {
  @media screen and (min-width: 768px) and (max-width: 1024px){ @content; }
}
@mixin width-sm {
  @media screen and (max-width: 1024px){ @content; }
}
@mixin width-s {
  @media screen and (max-width: 768px){ @content; }
}
