/* Global Navigation
/* ========================================================================== */
/* Imports */
/* Tooling */
/* Custom Properties: Color
/* ========================================================================== */
/* Custom Properties: Font
/* ========================================================================== */
/* Custom Properties: Apply
/* ========================================================================== */
/* Global Navigation: Apps
/* ========================================================================== */
/* line 20, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps {
  position: relative;
  position: relative;
}

/* line 26, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps-link {
  color: #595959;
  cursor: pointer;
  display: block;
  outline-offset: -.375em;
  background-color: transparent;
  border-style: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
  -webkit-transition: box-shadow 125ms ease-in-out;
  transition: box-shadow 125ms ease-in-out;
}

/* line 42, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps-link:hover, .esri-gnav-apps-link:focus {
  color: #0079c1;
}

/* line 46, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps-link[aria-expanded="true"] {
  box-shadow: inset 0 -4px 0 0 #0079c1;
}

/* line 50, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps-icon {
  display: block;
  fill: currentColor;
  margin: 20px 28px;
  width: 24px;
  height: 24px;
}

/* Global Navigation: Apps: Menu
/* ========================================================================== */
/* line 61, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps-menu {
  background-color: #f8f8f8;
  box-shadow: inset 0 0 0 1px #dedede;
  top: 100%;
  position: absolute;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  min-width: 500px;
  padding: 0;
  right: 0;
}

/* line 74, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps-menu:not([aria-expanded="true"]) {
  clip: rect(0 0 0 0);
  opacity: 0;
  visibility: hidden;
}

/* line 80, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 94, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps-menu-link {
  color: #595959;
  cursor: pointer;
  display: block;
  outline-offset: -.375em;
  background-color: transparent;
  border-style: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  padding: 25px;
  width: 125px;
  height: 125px;
  text-align: center;
}

/* line 116, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps-menu-link:hover, .esri-gnav-apps-menu-link:focus {
  color: #0079c1;
}

/* line 120, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-apps-menu-image {
  display: block;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  width: 48px;
  height: 48px;
}

/* Tooling */
/* Global Navigation: Brand
/* ========================================================================== */
/* line 134, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-brand {
  color: #595959;
  cursor: pointer;
  display: block;
  outline-offset: -.375em;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
}

/* line 154, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-brand:hover, .esri-gnav-brand:focus {
  color: #0079c1;
}

/* line 158, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-brand-image {
  display: block;
  fill: currentColor;
  width: 60px;
  height: 30px;
}

/* Global Navigation: Client
/* ========================================================================== */
/* line 170, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

/* line 179, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-client > :first-child {
  box-shadow: -1px 0 0 0 #dedede;
}

/* Tooling */
/* Global Navigation: Menus
/* ========================================================================== */
/* line 188, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 200, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 212, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-item {
  position: relative;
}

/* line 216, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-link {
  color: #595959;
  cursor: pointer;
  display: block;
  outline-offset: -.375em;
  text-decoration: none;
  -webkit-transition: box-shadow 125ms ease-in-out;
  transition: box-shadow 125ms ease-in-out;
  padding: 22px 24px;
}

/* line 228, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-link:hover, .esri-gnav-menus-link:focus {
  color: #0079c1;
}

/* line 232, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-link[aria-expanded="true"] {
  box-shadow: inset 0 -4px 0 0 #0079c1;
}

/* Global Navigation: Menus: Submenu
/* ========================================================================== */
/* line 239, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-submenu {
  background-color: #f8f8f8;
  box-shadow: inset 0 0 0 1px #dedede;
  top: 100%;
  position: absolute;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  left: -80px;
  min-width: 440px;
  padding: 24px 46px 46px;
}

/* line 252, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-submenu:not([aria-expanded="true"]) {
  clip: rect(0 0 0 0);
  opacity: 0;
  visibility: hidden;
}

/* line 258, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 264, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-sublink {
  color: #595959;
  cursor: pointer;
  display: block;
  outline-offset: -.375em;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 #dedede;
  font-size: 14px;
  line-height: 1.42857;
  outline-offset: 0;
  padding: 20px 0;
}

/* line 278, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-sublink:hover, .esri-gnav-menus-sublink:focus {
  color: #0079c1;
}

/* line 282, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-menus-sublink:focus, .esri-gnav-menus-sublink:hover {
  box-shadow: inset 0 -1px 0 0 #0079c1;
}

/* Tooling */
/* Global Navigation: Search
/* ========================================================================== */
/* line 291, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-search-link {
  color: #595959;
  cursor: pointer;
  display: block;
  outline-offset: -.375em;
  background-color: transparent;
  border-style: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
}

/* line 305, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-search-link:hover, .esri-gnav-search-link:focus {
  color: #0079c1;
}

/* line 309, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-search-image {
  display: block;
  fill: currentColor;
  margin: 20px 28px;
  width: 24px;
  height: 24px;
}

/* Tooling */
/* Global Navigation: User
/* ========================================================================== */
/* line 322, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user {
  position: relative;
}

/* Global Navigation: User: Logged Out
/* ========================================================================== */
/* line 329, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-link--loggedout {
  color: #595959;
  cursor: pointer;
  display: block;
  outline-offset: -.375em;
  background-color: transparent;
  border-style: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
  padding: 22px 24px;
}

/* line 345, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-link--loggedout:hover, .esri-gnav-user-link--loggedout:focus {
  color: #0079c1;
}

/* Global Navigation: User: Logged In
/* ========================================================================== */
/* line 352, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-link--loggedin {
  color: #595959;
  cursor: pointer;
  display: block;
  outline-offset: -.375em;
  background-color: transparent;
  border-style: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
  -webkit-transition: box-shadow 125ms ease-in-out;
  transition: box-shadow 125ms ease-in-out;
  padding: 16px 32px;
  padding-left: 60px;
  position: relative;
  text-align: start;
}

/* line 373, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-link--loggedin:hover, .esri-gnav-user-link--loggedin:focus {
  color: #0079c1;
}

/* line 377, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-link--loggedin[aria-expanded="true"] {
  box-shadow: inset 0 -4px 0 0 #0079c1;
}

/* line 381, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-image {
  border-radius: 50%;
  top: calc(50% - 32px / 2);
  left: 16px;
  position: absolute;
  width: 32px;
  height: 32px;
}

/* line 390, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-name,
.esri-gnav-user-id {
  display: block;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* line 399, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-name {
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
}

/* line 405, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-id {
  font-size: 14px;
  line-height: 16px;
}

/* Global Navigation: User: Logged In: Menu
/* ========================================================================== */
/* line 413, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-menu {
  background-color: #f8f8f8;
  box-shadow: inset 0 0 0 1px #dedede;
  top: 100%;
  position: absolute;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 410px;
  min-height: 226px;
  padding: 48px 28px 0 42px;
  right: 0;
}

/* line 432, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-menu:not([aria-expanded="true"]) {
  clip: rect(0 0 0 0);
  opacity: 0;
  visibility: hidden;
}

/* line 438, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-menu-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 16px;
  width: 122px;
  text-align: center;
}

/* line 451, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-menu-image {
  border-radius: 50%;
  box-shadow: 0 0 0 4px #0079c1;
  margin-bottom: 20px;
  width: 122px;
  height: 122px;
}

/* line 459, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-menu-name {
  color: #000000;
  font-size: 18px;
  line-height: 0.83333;
  margin-bottom: 10px;
}

/* line 466, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-menu-id {
  font-size: 13px;
  line-height: 1.15385;
  margin-bottom: 5px;
}

/* line 472, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-menu-group {
  font-size: 13px;
  line-height: 1.15385;
}

/* line 477, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

/* line 485, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-menu-link {
  color: #595959;
  cursor: pointer;
  display: block;
  outline-offset: -.375em;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.42857;
  outline-offset: 0;
  padding: 5px 0;
}

/* line 499, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-user-menu-link:hover, .esri-gnav-user-menu-link:focus {
  color: #0079c1;
}

/* Global Navigation
/* ========================================================================== */
/* line 506, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav {
  box-shadow: 0 1px 0 0 #dedede;
  color: #595959;
  background-color: #ffffff;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 300 16px/1.25 "Avenir Next LT Pro", "Century Gothic", sans-serif;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 64px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 525, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav, .esri-gnav * {
  box-sizing: border-box;
}

/* Global Navigation: Variations */
/* line 531, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav--absolute {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}

/* line 538, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav--fixed {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
}

/* Scaffolding (for demonstration purposes)
/* ========================================================================== */
/* line 548, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
html {
  background-color: #7f7f7f;
}

/* line 552, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
body {
  margin: 0;
}

/* line 558, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 563, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
#esri-gnav-mobile-toggle {
  position: absolute;
  opacity: 0;
  display: none;
}

/* line 569, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
#esri-gnav-mobile-toggle-label {
  display: none;
}

/* line 573, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
#esri-gnav-mobile {
  display: none;
}

/* line 577, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-mobile-drawer-primary,
.esri-gnav-mobile-drawer-secondary {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #efefef;
}

/* line 583, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-mobile-drawer-primary ul,
.esri-gnav-mobile-drawer-secondary ul {
  width: 300px;
  margin-top: 0;
  left: 0;
}

/* line 590, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-mobile-drawer-primary {
  z-index: 10;
}

/* line 594, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
.esri-gnav-mobile-drawer-secondary {
  z-index: 20;
}

/* Tablet */
@media only screen and (max-width: 1200px) {
  /* line 600, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-menus {
    display: none;
  }
  /* line 603, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile {
    position: fixed;
    display: block;
    top: 64px;
    left: 0;
    height: 100%;
    width: 0;
    background: #efefef;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    opacity: 100;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 225ms ease-in-out;
    -moz-transition: width 225ms ease-in-out;
    -o-transition: width 225ms ease-in-out;
    transition: width 225ms ease-in-out;
    z-index: 10;
  }
  /* line 622, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile[aria-expanded="true"] {
    width: 300px;
  }
  /* line 625, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile[aria-expanded="true"] .esri-gnav-mobile-drawer-secondary {
    left: 300px;
    width: 300px;
  }
  /* line 629, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile[aria-expanded="true"] .esri-gnav-mobile-drawer-secondary[aria-expanded="true"] {
    left: 0;
    -webkit-transition: left 225ms ease-in-out;
    -moz-transition: left 225ms ease-in-out;
    -o-transition: left 225ms ease-in-out;
    transition: left 225ms ease-in-out;
  }
  /* line 636, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile[aria-expanded="true"] .esri-gnav-mobile-drawer-secondary[aria-expanded="false"] {
    left: 300px;
    -webkit-transition: left 225ms ease-in-out;
    -moz-transition: left 225ms ease-in-out;
    -o-transition: left 225ms ease-in-out;
    transition: left 225ms ease-in-out;
  }
  /* line 645, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile[aria-expanded="true"]::before {
    content: '';
    position: fixed;
    top: 64px;
    left: 300px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    background-color: #777777;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  /* line 661, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile[aria-expanded="false"] {
    width: 0;
    padding: 0;
    opacity: 0;
  }
  /* line 668, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile-toggle {
    display: block;
  }
  /* line 672, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile-toggle-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0px;
    width: 30px;
    height: 41px;
    margin: 24px 0 0 24px;
    display: block;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    cursor: pointer;
  }
  /* line 687, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile-toggle-label[data-mobilie-nav-active="true"] {
    box-shadow: inset 0 -4px 0 0 #0079c1;
  }
  /* line 690, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  #esri-gnav-mobile-toggle-label:before {
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    background: #8d8d8d;
    left: 13px;
    top: 22px;
    box-shadow: 0 8px 0 #8d8d8d, 0 16px 0 #8d8d8d;
  }
  /* line 702, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-mobile-list {
    padding-left: 0;
  }
  /* line 704, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-mobile-list .esri-gnav-mobile-drawer-item,
  .esri-gnav-mobile-list .esri-gnav-mobile-drawer-opener-item {
    border-bottom: 1px solid #a9a9a9;
    list-style-type: none;
    padding: 0;
    position: relative;
    left: 0;
    width: 300px;
  }
  /* line 713, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-mobile-list .esri-gnav-mobile-drawer-item a,
  .esri-gnav-mobile-list .esri-gnav-mobile-drawer-opener-item a {
    font-family: "Avenir Next LT Pro", "Century Gothic", sans-serif;
    text-decoration: none;
    color: black;
    display: block;
    width: 80%;
    padding: 20px;
  }
  /* line 723, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-mobile-list .esri-gnav-mobile-drawer-opener-item::after {
    content: " ";
    background-image: url("images/right.svg");
    opacity: 0.7;
    -webkit-background-size: .75rem .75rem;
    -moz-background-size: .75rem .75rem;
    background-size: .75rem .75rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: .75rem;
    height: 100%;
    position: absolute;
    right: .8125rem;
    top: 0;
  }
  /* line 740, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-mobile-sublist {
    padding-left: 0;
  }
  /* line 742, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-mobile-sublist .esri-gnav-mobile-drawer-item,
  .esri-gnav-mobile-sublist .esri-gnav-mobile-drawer-closer {
    border-bottom: 1px solid #a9a9a9;
    list-style-type: none;
    padding: 0;
    position: relative;
    left: 0;
    width: 300px;
  }
  /* line 751, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-mobile-sublist .esri-gnav-mobile-drawer-item a,
  .esri-gnav-mobile-sublist .esri-gnav-mobile-drawer-closer a {
    font-family: "Avenir Next LT Pro", "Century Gothic", sans-serif;
    text-decoration: none;
    color: black;
    display: block;
    width: 80%;
    padding: 20px;
  }
  /* line 760, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-mobile-sublist .esri-gnav-mobile-drawer-closer {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #ffffff;
  }
  /* line 765, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-mobile-sublist .esri-gnav-mobile-drawer-closer a {
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    display: block;
  }
  /* line 774, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-mobile-drawer-closer::before {
    content: " ";
    background-image: url("images/left.svg");
    opacity: 0.7;
    -webkit-background-size: .75rem .75rem;
    -moz-background-size: .75rem .75rem;
    background-size: .75rem .75rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: .75rem;
    height: 100%;
    position: absolute;
    left: .8125rem;
    top: .15em;
  }
  /* line 790, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-brand {
    flex-grow: 1;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 690px) {
  /* line 798, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-menus {
    display: none;
  }
  /* line 801, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-client {
    display: none;
  }
  /* line 804, D:/_source/esri-global-nav/_responsive_sandbox/source/scss/index.css */
  .esri-gnav-brand {
    flex-grow: 0;
  }
}
