@import "../global";

:host {
  background: $blk-000;
  box-shadow: 0 1px 0 0 $blk-100;
  position: relative;
  z-index: 101;
}

/* Global Header
/* ========================================================================== */
.esri-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $esri-header-height;
  color: $blk-100;
  cursor: default;
  user-select: none;
  z-index: 190;

  &.-web {
    width: $esri-header-width;
    max-width: 96vw;
    margin: 0 auto;

    &.-always-hamburger {
      width: 100%;
      max-width: 100vw;
    }

    @media (--width-sm) {
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
    }
  }
}

.esri-header .hidden {
  display: none;
}

esri-header-menus {
  flex-grow: 1;
}

.esri-header-divider {
  height: 100%;
  width: 1px;
  background-color: $blk-020;
  display: flex;
  flex-grow: 0;
}

/* Global Header: Canvas
/* ========================================================================== */

.esri-header-canvas {
  content: "";
  position: fixed;
  top: $esri-header-height;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;;
  padding: 0;
  background-color: rgba(0, 0, 0, .5);
  border-style: none;
  -webkit-tap-highlight-color: transparent;
  transition: opacity $transition, visibility 0ms 150ms;
  opacity: 0;
  visibility: hidden;
  z-index: -1;

  &[data-open] {
    opacity: 1;
    visibility: visible;
    transition: opacity $transition;
  }
}

.esri-header-canvas--white {
  background-color: rgba(250, 250, 250, .95);
  box-shadow: inset 0 1px 0 0 $blk-010;
}