@import "../global";

:host {
  position: relative;
  display: flex;
  flex-grow: 0;
}

.esri-header-apps-control {
  @include normalize-button();
  @include unset-button();
  @include menu-link();
  position: relative;
  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.esri-header-apps-image {
  @include menu-icon();
}

.esri-header-apps-menu {
  @include submenu();
  right: 0;
  width: 410px;
  max-width: 100vw;
  color: $blk-200;
  background-color: $blk-005;
}

.esri-header-apps-intro {
  margin: 0;
  padding: 1rem 2rem;
  color: $blk-140;
  font-size: 14px;
  text-align: center;
}

.esri-header-apps-intro-button {
  @include unset-button();
  @include font-size(-2);
  display: block;
  background: $blk-000;
  border: 1px solid $blk-020;
  cursor: pointer;
  padding: 6px 20px;
  margin: 0 auto 1rem auto;
  transition: $transition;
  &:hover, &:focus {
    border: 1px solid $ui-blue;
    color: $ui-blue;
    outline: none;
  }
}

.esri-header-apps-grid {
  @include unset-ul();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  overflow-x: hidden;
  esri-header-app {
    width: 33.3%;
  }
}

.esri-header-apps-grid--secondary {
  border-top: 1px solid $blk-020;
  background-color: $blk-010;
}

.esri-header-apps__more {
  @include unset-button();
  @include font-size(-2);
  padding: 4px;
  width: 100%;
  background-color: $blk-010;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  transition: $transition;
  &:hover, &:focus {
    outline: none;
    color: $blk-240;
    background-color: $blk-020;
  }
}

.esri-header-apps__more__icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin: 0 4px;
  vertical-align: -3px;
}

.esri-header-apps-drag-here {
  @include font-size(-2);
  margin: 12px 32px;
  padding: 32px;
  text-align: center;
  color: $blk-160;
  border: 2px dashed rgb(208, 208, 208);
  overflow: hidden;
}
