/* Global Navigation
/* ========================================================================== */

.esri-gnav {
	box-shadow: 0 1px 0 0 #dedede;
	color: #4c4c4c #ffffff;
	cursor: default;
	display: flex;
	font: 300 16px/1 "Avenir Next LT Pro";
	justify-content: space-between;
	size: * 64px;

	&, & * {
		box-sizing: border-box;
	}

	& button {
		background-color: transparent;
		border: none;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		outline-offset: -.375em;
	}

	& svg {
		fill: currentColor;
	}
}

.esri-gnav--absolute {
	position: absolute 0 0 *;
}

.esri-gnav--fixed {
	position: fixed 0 0 *;
}

/* Global Navigation: General types
/* ========================================================================== */

.esri-gnav-link {
	color: #4c4c4c;
	cursor: pointer;
	outline-offset: -.375em;
	padding: 0;

	&:matches(:hover, :focus) {
		color: #0079c1;
	}
}

.esri-gnav-icon {
	margin: 20px 28px;
	size: 24px;
}

.esri-gnav-text {
	display: flex;
	line-height: 24px;
	margin: 20px 16px;
}

.esri-gnav-button {
	display: flex;
	line-height: 24px;
	padding: 20px 16px;
}

/* Global Navigation: Special types
/* ========================================================================== */

@import "gnav/branding.css";
@import "gnav/site.css";
@import "gnav/user.css";
@import "gnav/menu.css";
