/* Global Navigation: General types
/* ========================================================================== */

.esri-gnav-link {
	color: #4c4c4c;
	cursor: pointer;
	outline-offset: -.375em;

	&:matches(:hover, :focus) {
		color: #0079c1;
	}
}

.esri-gnav-icon {
	margin: 20px 28px;
	size: 24px;
}
