/* Global Navigation: User
/* ========================================================================== */

.esri-gnav-user {
	display: flex;
	flex-grow: 0;

	& > :first-child {
		box-shadow: -1px 0 0 0 #e0e0e0;
	}
}

.esri-gnav-user-login {
	padding: * 24px;
}

.esri-gnav-user-link {
	padding: 16px;
	padding-left: calc(32px + 16px + 12px);
	position: relative;
	text-align: start;
}

.esri-gnav-user-image {
	border-radius: 50%;
	position: absolute calc(50% - 32px / 2) * * 16px;
	size: 32px;
}

.esri-gnav-user-name,
.esri-gnav-user-id {
	display: block;
}

.esri-gnav-user-name {
	font-size: 15px/16px;
	font-weight: 700;
}

.esri-gnav-user-id {
	font-size: 14px/16px;
}
