/* Global Footer: Brand */
/* ========================================================================== */

.gfoot-brand {
	@media (--gfoot-ml) {
		padding: * * 20px *;
	}
}

.gfoot-brand-link {
	cursor: pointer;
	display: inline-block;
	transition: fill 150ms;
	vertical-align: top;
}

.gfoot-brand-image {
	display: block;
	fill: #6e6e6e;
	size: calc(var(--footer-social-size) * 3 + var(--footer-social-gutter) * 2);

	&:--enter {
		fill: #000000;
	}
}
