@import "./footer--animation";
@import "./footer--media";

/* Footer */
/* ========================================================================== */

.esri-footer {
	cursor: default;
	display: flex;
	flex-wrap: wrap;
	user-select: none;

	&, & * {
		box-sizing: border-box;
	}

	@media (--gfoot-sm) {
		min-height: 600px;
	}

	@media (--gfoot-ml) {
		position: fixed * 0 0;
		z-index: -1;
	}

	@media (--gfoot-l) {
		height: 500px;
		padding: * calc(50% - 1424px / 2) *;
	}
}

/* Footer Barrier */
/* ========================================================================== */

.esri-footer-barrier {
	animation: gfoot 4s linear infinite;
	background-color: #f8f8f8;
	background-image: linear-gradient(90deg, #29bfff, #a231ff, #0deccd, #29bfff);
	background-repeat: repeat-x;
	background-size: 133vw 4px;
	height: 4px;

	@media (--gfoot-m) {
		margin-bottom: 600px;
	}

	@media (--gfoot-l) {
		margin-bottom: 500px;
	}
}

/* Footer Sections */
/* ========================================================================== */

.esri-footer-section--1 {
	transition: padding 300ms;

	@media (--gfoot-s) {
		display: flex;
		flex-basis: 100%;
		padding: 20px 15px 20px 20px;
	}

	@media (--gfoot-m) {
		padding: 36px 12px * 24px;
		width: 25%;
	}

	@media (--gfoot-l) {
		padding: 50px 24px * 24px;
		width: calc(100% / 4);
	}
}

.esri-footer-section--2 {
	@media (--gfoot-s) {
		width: 100%;
	}

	@media (--gfoot-m) {
		width: 75%;
	}

	@media (--gfoot-l) {
		flex-grow: 1;
		padding: 50px * * *;
	}
}

.esri-footer-section--3 {
	box-shadow: inset 0 1px 0 0 #cccccc;
	flex-basis: 100%;
	transition: height 300ms;

	@media (--gfoot-s) {
		margin-top: 50px;
		padding: 30px *;
	}

	@media (--gfoot-m) {
		align-items: center;
		display: flex;
		height: 64px;
	}

	@media (--gfoot-l) {
		align-items: center;
		display: flex;
		height: 80px;
	}
}

/* Footer Dialog */
/* ========================================================================== */

.esri-footer-dialog {
	display: none;
}
