:root {
	--glang-width: 580px;
	--glang-height: 220px;
	--glang-inline-padding: 50px;
	--glang-block-padding: 40px;
	--glang-close-size: 24px;
}

.glang {
	color: var(--mono-0) var(--mono-100);
	padding: var(--glang-block-padding) var(--glang-inline-padding);
	position: fixed;
	z-index: 100;

	@media (width > 580px) {
		position: calc(50% - var(--glang-height) / 2) * * calc(50% - var(--glang-width) / 2);
		size: var(--glang-width) var(--glang-height);
	}

	@media (width <= 580px) {
		position: * * 0;
	}

	&, & * {
		box-sizing: border-box;
	}

	&:not([aria-hidden="false"]) {
		display: none;
	}
}

.glang-canvas {
	@apply --normalize-button;
	@apply --unset-button;

	color: * color(var(--mono-0) a(50%));
	position: fixed 0;
	size: 100%;
	z-index: 99;

	@nest .glang:not([aria-hidden="false"]) + & {
		display: none;
	}
}

.glang-close {
	@apply --normalize-button;
	@apply --unset-button;

	position: absolute calc(var(--glang-block-padding) - var(--glang-close-size) / 2) calc(var(--glang-inline-padding) - var(--glang-close-size) / 2) * *;
	size: var(--glang-close-size);

	@nest [dir="rtl"] & {
		left: calc(var(--glang-inline-padding) - var(--glang-close-size) / 2);
		right: auto;
	}

	&::after {
		content: url("esri-global-shared#c-close" param(--fill var(--blue)));
	}
}

.glang-message {
	font-size: 20px/30px;
}

.glang-choice {
	-webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
	border-radius: 0;
	border-style: none;
	box-shadow: inset 0 0 0 1px var(--blue);
	font-size: 12px;
	padding: * 16px;

	@media (width <= 580px) {
		size: 100% 34px;
	}

	@media (width > 580px) {
		size: 272px 34px;
	}
}

.glang-submit {
	@apply --normalize-button;
	@apply --unset-button;

	color: var(--mono-100) var(--blue);
	font-size: 12px;

	@media (width <= 580px) {
		margin-top: 5px;
		size: 100% 34px;
	}

	@media (width > 580px) {
		margin-left: 8px;
		size: 130px 34px;

		@nest [dir="rtl"] & {
			margin: * 8px * 0;
		}
	}

	&:--enter {
		color: * color(var(--blue) b(50%));
	}
}
