html {
  background-color: #ffffff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 600px;
  padding: 30px;
}
