html {
	background-color: #f9f9f9;
}

body {
	margin: 0;
}

@import "css/gnav";

/* .gnav-menu {
	background-color: #ffffff;
	box-shadow: 0 0 0 1px #dedede;
	position: absolute calc(100% + 1px) * * 0;
	width: 150%;
	z-index: 1;

	@nest .gnav-item:not(:hover, [aria-expanded="true"]) & {
		display: none;
	}
}
 */
