$generate-css: false;

$font-path: '../node_modules/calcite-web/dist/fonts';

@import "../../node_modules/calcite-web/dist/sass/calcite-web";
@import "../../scss/vars";
@import "../../scss/mixins";
@import "../../scss/animations";

body,
html {
    background-color: $Calcite_Gray_100;
}

.app-nav {
  width: 100%;
  background-color: $Calcite_Gray_200;
  // border-bottom: px solid #fff;
  padding: 0.75rem;
  color: $Calcite_Gray_700;
  .btn {
    color: $Calcite_Gray_650;
    border-color: $Calcite_Gray_650;
    font-size: 14px;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }
  .btn-clear {
    background-color: transparent;
  }
  .button-wrap {
    width: $secondary_header_width;
    margin: 0 auto;
  }
}


.icon {
    width: 24px;
    height: 24px;
    // path {
        fill: $Calcite_Gray_550;
    // }
}


// Dashboard
// .show-item,
.nav-left__app-menu,
.project-thing {
    display: none;
}
.project-thing {
    text-align: center;
    // margin-top: 20px;
    img {
        width: 40%;
        margin: 20px 30%;
    }
}

// In Item
.in-item {
    .app-items {
        display: none;
    }
    .project-thing {
        display: block;
    }
    .nav-left__app-menu {
        // display: block;
        @include flexDisplay();
        // -webkit-animation: show-item-nav 500ms ease-out;
        // -moz-animation: show-item-nav 500ms ease-out;
        // -o-animation: show-item-nav 500ms ease-out;
        // animation: show-item-nav 500ms ease-out;
    }
    // .show-launch {
    //     display: none;
    // }
    .esri-global-nav__app-name {
        display:  none;
        // width: 0;
        // @include translate(0, -200px);
        // top: -100px;
        // -webkit-animation: hide-app-name 500ms ease-in;
        // -moz-animation: hide-app-name 500ms ease-in;
        // -o-animation: hide-app-name 500ms ease-in;
        // animation: hide-app-name 500ms ease-in;
    }
}

.app-items {
  padding-top: 50px;
}

// App Switcher Styles  
.app-switcher {
    position: absolute;
    top: 64px;
    right: 50px;
    z-index: 10;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    opacity: 0;
    -webkit-animation: hide-app-switcher 250ms ease-in-out;
    -moz-animation: hide-app-switcher 250ms ease-in-out;
    -o-animation: hide-app-switcher 250ms ease-in-out;
    animation: hide-app-switcher 250ms ease-in-out;
}

.app-switcher--visible .app-switcher,
.app-switcher--visible .app-switcher__pointer {
    opacity: 1;
    -webkit-animation: show-app-switcher 250ms ease-in-out;
    -moz-animation: show-app-switcher 250ms ease-in-out;
    -o-animation: show-app-switcher 250ms ease-in-out;
    animation: show-app-switcher 250ms ease-in-out;
}

.app-switcher--visible .cover {
    display: block;
}

.app-switcher__content {
    padding: 15px;
    background: #fff;
    position: relative;
    z-index: 5;
}

.app-switcher__pointer {
    top: -7px;
    right: 20px;
    background-color: #fff;
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    pointer-events: none;
    -webkit-transform: scale(0.9, 1) rotate(45deg);
    -moz-transform: scale(0.9, 1) rotate(45deg);
    -ms-transform: scale(0.9, 1) rotate(45deg);
    -o-transform: scale(0.9, 1) rotate(45deg);
    transform: scale(0.9, 1) rotate(45deg);
    -webkit-transition: opacity 125ms ease-in-out;
    -moz-transition: opacity 125ms ease-in-out;
    -ms-transition: opacity 125ms ease-in-out;
    -o-transition: opacity 125ms ease-in-out;
    transition: opacity 125ms ease-in-out;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 0;
    opacity: 0;
}

.apps-container {
    padding: 0;
    margin: 0;
    max-width: 505px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.app-icon-svg svg {
    width: 48px;
    height: 48px;
}

// @media screen and (max-width: 640px) {
//   .apps-container {
//     max-width: 305px;
//   }
// }
.app-module {
    width: 70px;
    margin: 12px 15px;
    display: block;
    float: left;
    color: #6e6e6e;
    font-size: 12px;
    -webkit-transition: all 125ms ease-in-out;
    -moz-transition: all 125ms ease-in-out;
    -ms-transition: all 125ms ease-in-out;
    -o-transition: all 125ms ease-in-out;
    transition: all 125ms ease-in-out;
}

.app-module:hover {
    cursor: pointer;
    color: #0079c1;
    /*  Calcite Highlight Blue 350  */
}


/*/////////////////////*/


/*    HOVER STYLE      */

.app-icon-container {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.app-module:hover .app-icon-container,
.app-module:focus .app-icon-container {
    -webkit-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -ms-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
}


/*    HOVER STYLE      */


/*//////////////////////*/


/*.app-module:first-child {
    margin-left: 0;
  }
  
  .app-module:last-child {
    margin-right: 0;
  }*/

.app-icon-container {
    width: 48px;
    height: 48px;
    margin: 0 auto 8px;
    overflow: hidden;
    position: relative;
}

.app-icon img {
    width: 100%;
    height: 100%;
}

.app-icon-svg {
    width: 48px;
    height: 48px;
    position: relative;
}

.app-letters {
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 1;
    text-align: center;
    top: 26%;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 1);
}

.app-title {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1.2rem;
}

.hexagon {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.see-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}

.see-all__icon {
    font-size: 24px;
    padding: 10px 0 0;
    flex-basis: 46px;
}

.see-all__text {
    margin-top: auto;
    /*font-size: 12px;*/
}
