@import "../global";

:host {
  width: 100%;
  height: 100%;
  flex: 0;

  @include width-s() {
    background-color: $blk-005;
    box-shadow: inset 0 1px 0 0 $blk-100;
    margin-top: auto;
  }

  @include width-ml() {
    position: relative;
  }
}

.esri-header-account-wrap {
  height: 100%;
}

.esri-header-account-control--signin {
  @include normalize-button();
  @include unset-button();
  @include font-size(1);


  display: block;
  cursor: pointer;
  padding: 18px 24px;
  position: relative;
  width: 100%;

  @include width-s() {
    padding: 28px 24px;

    // TODO: add chevron

    &:focus, &:hover, &[aria-expanded="true"] {
      color: $blk-240;
    }
  }

  @include width-ml() {
    @include menu-link();
  }
}

.esri-header-account-control--signedin {
  @include normalize-button();
  @include unset-button();

  padding: 0 32px;
  cursor: pointer;
  position: relative;
  text-align: start;
  width: 100%;
  display: flex;
  align-items: center;

  @include width-s() {
    padding: 20px 32px;

    // TODO: add chevron

    &:focus, &:hover, &[aria-expanded=true] {
      color: $blk-240;

      &::after {
        inset-inline-end: 15px;
      }
    }
  }

  @include width-ml() {
    @include menu-link();
    height: 100%;
    display: flex;
    padding: 0 12px;
  }

  @include width-m() {
    padding: 12px;
  }
}

.esri-header-account-control-info {
  padding: 0 12px;
}

.esri-header-account-image {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  @include width-m() {
    position: static;
    display: block;
  }
}

.esri-header-account-control .esri-header-account-name,
.esri-header-account-control .esri-header-account-id {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.esri-header-account-name,
.esri-header-account-id {
  display: block;
  user-select: text;
  white-space: nowrap;
  @include width-m() {
    display: none;
  }
}

.esri-header-account-name {
  @include font-size(-1);
  font-weight: 600;
  color: $blk-200;
}

.esri-header-account-id {
  @include font-size(-2);
}

.esri-header-account-menu {
  background-color: $blk-005;
  right: 0;
  z-index: 400;

  @include width-s() {
    box-shadow: inset 0 1px 0 0 $blk-010;
    display: flex;
    flex-direction: column;
    min-height: calc(var(--esri-vh) - $header-height);
    overflow: auto;
    position: absolute;
    transform: translate3D(0, 0, 0);
    transition: transform $transition;
    width: 100%;
    z-index: 1;
  }

  @include width-ml() {
    @include submenu();
    display: flex;
    flex-wrap: wrap;
    min-width: 410px;
    padding-top: 48px;
  }

  &[aria-hidden="true"] {
    @include width-s() {
      overflow: hidden;
      transform: translate3D(320px, 0, 0);
      transition: transform $transition ease-in-out, visibility 0s 150ms;
      visibility: hidden;

      [dir="rtl"] & {
        transform: translate3D(0, 0, -320px);
      }
    }
  }
}

.esri-header-account-content-toggle {
  @include normalize-button();
  @include unset-button();

  background-color: $blk-000;
  margin-top: 1px;
  border-bottom: 1px solid $blk-010;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 10px;
  position: relative;
  text-align: center;
  width: 100%;

  &:hover, &:focus {
    color: $blk-240;

    &::before {
      inset-inline-start: 15px;
    }
  }

  // TODO: chevron

  @include width-ml() {
    display: none;
  }
}

.esri-header-account-content-info-wrap {
  display: flex;
  width: 100%;
}

.esri-header-account-content-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  text-align: center;

  @include width-s() {
    margin-top: 20px;
  }

  @include width-ml() {
    width: 50%;
  }
}

.esri-header-account-content-image {
  border-radius: 50%;
  box-shadow: 0 0 0 2px $blk-000, 0 0 0 6px $ui-blue;
  margin: 0 auto 20px auto;
  width: 128px;
  height: 128px;

  @include width-s() {
    margin-top: 4px;
  }
}

.esri-header-account-content-name {
  @include font-size(1);
  color: $blk-220;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.esri-header-account-content-id {
  @include font-size(-2);
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
}

.esri-header-account-content-group {
  font-size: 13px / calc(15 / 13);
}

.esri-header-account-content-menu {
  margin: 0;

  @include width-s() {
    text-align: center;
    margin-bottom: 24px;
  }

  @include width-ml() {
    padding-left: 10px;
    width: 50%;
  }
}

.esri-header-account-content-item {
  @include unset-l();
}

.esri-header-account-content-link {
  @include font-size(-1);
  @include unset-a();

  color: $ui-blue;
  display: inline-block;
  padding: 5px 0;
  position: relative;

  // todo: arrow-right
}

.esri-header-account-signin-menu {
  @include unset-ul();
  width: 100%;

  @include width-s() {
    margin-top: auto;
    margin-bottom: 30px;
  }

  @include width-ml() {
    display: flex;
  }
}

.esri-header-account-signin-item {
  @include unset-l();
  @include width-s() {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @include width-ml() {
    width: 50%;
  }
}

.esri-header-account-signin-control {
  @include normalize-button();
  @include unset-button();
  @include font-size(0);

  box-shadow: inset 0 0 0 1px $ui-blue;
  display: block;
  cursor: pointer;
  padding: 15px;
  transition: background-color $transition, box-shadow $transition;
  height: 100%;

  @include width-s() {
    width: 200px;
  }

  @include width-ml() {
    width: 100%;
  }

  &:hover, &:focus {
    color: $blk-000;
  }

  &.-switch {
    color: $blk-000;
    background-color: $ui-blue;

    &:hover, &:focus {
      background-color: $ui-blue-hover;
      box-shadow: inset 0 0 0 1px $ui-blue-hover;
    }
  }

  &.-logout {
    color: $ui-blue;

    &:hover, &:focus {
      box-shadow: inset 0 0 0 3px $ui-blue;
    }
  }
}
