/* Global Navigation
/* ========================================================================== */

@import "..";

/* Scaffolding (for demonstration purposes)
/* ========================================================================== */

html {
	background-color: #f9f9f9;
}

body {
	font: 300 17px/20px "Avenir Next", "Century Gothic", sans-serif;
	margin: 0;
}

main {
	margin: 1.5em;
}
